// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

/ {
        model = "loongson,generic";
        compatible = "loongson,loongson3";
        #address-cells = <1>;
        #size-cells = <1>;

        memory {
                name = "memory";
                device_type = "memory";
                //reg = <0x2000000 0x2000000>;
                reg = <0x2800000 0x1800000>; // 24MB
        };
};
